name: Docker Image CI

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          install: true

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      
      - name: Set Docker Image Tag
        run: echo "IMAGE_TAG=${GITHUB_REF_NAME}-${GITHUB_SHA::8}" >> $GITHUB_ENV
      
      - name: Build Docker image
        run: |
            docker buildx build \
              --load \
              -t  ${{ secrets.DOCKER_HUB_USERNAME }}/autotweet:${{ env.IMAGE_TAG }} .

      - name: Push
        run: docker push  ${{ secrets.DOCKER_HUB_USERNAME }}/autotweet:${{ env.IMAGE_TAG }}
